[package]
name = "memoire-db"
version.workspace = true
edition.workspace = true

[dependencies]
tokio.workspace = true
rusqlite.workspace = true
tracing.workspace = true
anyhow.workspace = true
thiserror.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
